#intro {
  background: url(../assets/images/bg-intro.svg) no-repeat center center/cover;

  #info {
    width: 1040px;
    margin-block: 120px 57px;
    margin-inline: auto;
    text-align: center;

    header {
      width: 680px;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      gap: 56px;

      .avatar img {
        width: 112px;
        padding: 6px;
        border-radius: 50%;
        border: 2px solid var(--red);
      }

      .text span {
        font: var(--subtitle);
        margin-bottom: 8px;

        span {
          color: var(--red);
        }
      }

      h1 {
        font: var(--title-lg);
        color: var(--gray-600);
        margin-bottom: 20px;
      }

      p {
        font: var(--text-sm);
        color: var(--gray-400);
        margin-bottom: 80px;
      }
    }

    .tags {
      display: flex;
      justify-content: center;
      gap: 16px;
      
      .tag {
        background: var(--gray-300);
        border-radius: 999px;
        padding-block: 8px;
        padding-inline: 16px;

        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .arrow-down {
    text-align: center;
    margin-block: 94px 57px;
  }
}

#projects {
  margin-block: 72px 144px;
  text-align: center;

  header {
    margin-bottom: 56px;
    
    span {
      font: var(--subtitle);
      color: var(--red);
      margin-bottom: 8px;
    }

    h2 {
      font: var(--title-md);
      color: var(--gray-600);
      margin-bottom: 56px;
    }
  }
}