#intro {
  background: url(../assets/images/bg-intro.svg) no-repeat center center/cover;

  #info {
    width: 104rem;
    margin-block: 12rem 5.7rem;
    margin-inline: auto;
    text-align: center;

    header {
      width: 68rem;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      gap: 5.6rem;

      .avatar img {
        width: 11.2rem;
        padding: .6rem;
        border-radius: 50%;
        border: 2px solid var(--red);
      }

      .text span {
        font: var(--subtitle);
        margin-bottom: .8rem;

        span {
          color: var(--red);
        }
      }

      h1 {
        font: var(--title-lg);
        color: var(--gray-600);
        margin-bottom: 2rem;
      }

      p {
        font: var(--text-sm);
        color: var(--gray-400);
        margin-bottom: 8rem;
      }
    }

    .tags {
      display: flex;
      justify-content: center;
      gap: 1.6rem;
      
      .tag {
        background: var(--gray-300);
        border-radius: 99.9rem;
        padding-block: .8rem;
        padding-inline: 1.6rem;

        display: flex;
        align-items: center;
        gap: .8rem;
      }
    }
  }

  .arrow-down {
    text-align: center;
    margin-block: 9.4rem 5.7rem;
  }
}

#projects {
  margin-block: 7.2rem 14.4rem;
  text-align: center;

  header {
    margin-bottom: 5.6rem;
    
    span {
      font: var(--subtitle);
      color: var(--red);
      margin-bottom: .8rem;
    }

    h2 {
      font: var(--title-md);
      color: var(--gray-600);
      margin-bottom: 5.6rem;
    }
  }

  .cards {
    width: 104rem;
    margin-inline: auto;
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(3, 1fr);

    .card {
      width: 33rem;
      padding: 1.2rem;
      background: var(--gray-300);
      border-radius: 1.2rem;
      text-align: left;

      img {
        width: 100%;
        border-radius: .8rem;
        object-fit: cover;
        margin-bottom: 2rem;
      }

      h3 {
        font: var(--title-sm);
        color: var(--gray-600);
        margin-bottom: .8rem;
      }
    }
  }
}

#services {
  background: var(--gray-100);
  text-align: center;
  padding-block: 8.8rem 12rem;

  header {
    margin-bottom: 5.6rem;  

    span {
      font: var(--subtitle);
      color: var(--red);
    }
    
    h2 {
      font: var(--title-md);
      color: var(--gray-600);
      margin-top: .8rem;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
  
    .card {
      width: 28.8rem;
      padding: 2rem;
      border-radius: 1.2rem;
      border: 1px solid var(--gray-200);
      text-align: left;

      img {
        margin-bottom: 2rem;
      }

      h3 {
        font: var(--title-sm);
        color: var(--gray-600);
        margin-bottom: .8rem;
      }
    }
  }
}

#contacts {
  background: url(../assets/images/bg-contacts.svg) no-repeat center center/cover;
  text-align: center;
  padding-block: 12.8rem 20rem;

  header {
    margin-bottom: 4.8rem;
    
    span {
      font: var(--subtitle);
      color: var(--purple);
    }

    h2 {
      font: var(--title-md);
      color: var(--gray-600);
      margin-block: .8rem;
    }

    p {
      color: var(--gray-500);
    }
  }

  .links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
  
    .link {
      width: 40rem;
      padding: 2rem;
      background: var(--gray-300);
      border-radius: .8rem;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.2rem;

      .social {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        
        img {
          width: 2.6rem;
          height: 2.6rem;
        }

        a {
          font: var(--text-md);
          color: var(--gray-500);
        }
      }
    }
  }
}